<%= form_for(@ship) do |f| %>
  <% if @ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

      <ul>
      <% @ship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person1 %><br />
    <%= f.number_field :person1 %>
  </div>
  <div class="field">
    <%= f.label :person2 %><br />
    <%= f.number_field :person2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
